
@{
    ViewData["Title"] = "Map";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="@ViewData["OSM-Server"]/mapbox.css" rel="stylesheet" />
<link href="@ViewData["OSM-Server"]/mapbox-gl.css" rel="stylesheet" />
<script src="@ViewData["OSM-Server"]/mapbox-gl.js"></script>
<script src="@ViewData["OSM-Server"]/mapbox.js"></script>
<script src="@ViewData["OSM-Server"]/leaflet-hash.js"></script>

<script type="text/javascript">
    var osmServer = '@ViewData["OSM-Server"]';
</script>

<link href="~/css/Map/map.css" rel="stylesheet" />

<script src="~/js/Map/initMap.js"></script>
<script src="~/js/Map/locations.js"></script>
<script src="~/js/Map/devices.js"></script>

<div id="map"></div>

<div id="devices" class="card mb-4 shadow-sm">
    <div class="card-header">
        <h4 class="my-0 font-weight-normal">Devices</h4>
    </div>
    <div class="card-body">


    </div>
</div>
<div id="locations" class="card mb-4 shadow-sm">
    <div class="card-header">
        <h4 class="my-0 font-weight-normal">Locations</h4>
        <div class="progress">
            <div id="progressbar" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="50" style="width: 0%"></div>
        </div>
    </div>
    <div class="card-body">


    </div>
</div>


